version: "3.2"
services:
  script:
    build: ./app
    container_name: dc_script
    links:
      - db
    volumes:
      - type: bind
        source: ./app
        target: /usr/src/app
    command: ["python", "./api_database.py"]
  app:
    build: ./app
    container_name: dc_app
    links:
      - db
    ports:
      - "5000:5000"
    volumes:
      - type: bind
        source: ./app
        target: /usr/src/app
  db:
    image: postgres:latest
    container_name: dc_db
    ports:
      - "5432:5432"
    enviroment:
      POSTGRES_DB: "dc_heroes"
      POSTGRES_PASSWORD: "postgres"
    volumes:
      - postgres_data:/var/lib/postgres
  redis:
    image: redis:latest
    container_name: dc_redis
    ports:
      - 6379:6379
    volumes:
      - type: bind
        source: ./config/redis.conf
        target: /redis.conf
    command: ["redis-server", "/redis.conf"]
  pgadmin:
    image: dpage/pgadmin4
    container_name: dc_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "postgres"
      PGADMIN_DEFAULT_PASSWORD: "postgres"
    ports:
      - "16543:80"