version: "3.2"
services:
  # script:
  #   build: ./app
  #   container_name: dc_script
  #   links:
  #     - db
  #   volumes:
  #     - type: bind
  #       source: ./app
  #       target: /usr/src/app
  #   command: ["python", "./populate.py"]
  app:
    build: ./app
    container_name: dc_app
    ports:
      - "5000:5000"
    volumes:
      - type: bind
        source: ./app
        target: /usr/src/app
  db:
    image: postgres
    container_name: dc_db
    #restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dc_heroes
    networks: 
      - default
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports: 
      - 5432:5432
  
  # redis:
  #   image: redis:latest
  #   container_name: dc_redis
  #   ports:
  #     - 6379:6379
  #   volumes:
  #     - type: bind
  #       source: ./config/redis.conf
  #       target: /redis.conf
  #   command: ["redis-server", "/redis.conf"]
  pgadmin:
    image: dpage/pgadmin4
    container_name: dc_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "postgres"
      PGADMIN_DEFAULT_PASSWORD: "postgres"
    ports:
      - "16543:80"
volumes:
  pgdata: